:root {
  /* Cool colors */
  --light-blue: rgb(10, 10, 95);
  --blue: rgb(11, 11, 44);
  --white: rgb(176, 234, 253);
  --shadow: rgba(255, 255, 255, 0.25);

  /* Warm colors */
  --red: rgb(95, 10, 10);
  --light-red: rgb(156, 41, 41);
  --orange: rgb(253, 209, 127);
  --warm-shadow: rgba(253, 209, 127, 0.25);
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  
}

.body-cool {
  background-image: linear-gradient(var(--light-blue), var(--blue));
}

.body-warm {
  background-image: linear-gradient(var(--light-red), var(--red));
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: var(--white);
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 10px;
  margin-left: 10px;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.59);
}

.h1-warm {
  color: var(--orange);
  text-shadow: 3px 4px 4px rgba(253, 209, 127, 0.15);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: block;
  height: 600px;
  width: 320px;
  border: 2px solid var(--white);
  border-radius: 25px;
  filter: drop-shadow(3px 4px 3px rgba(0, 0, 0, 0.99));
}

.wrapper-warm {
  border: 2px solid var(--orange);
  filter: drop-shadow(3px 4px 4px rgba(253, 209, 127, 0.25));
}

.calculator {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
}

.top {
  height: 0%;
  width: 100%;
}

.text-box {
  height: 32%;
  max-width: 320px;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
  margin-left: 0px;
  flex-wrap: wrap;
  overflow: hidden;
}

.text {
  margin: 10px 24px 30px 30px;
  padding-top: 10px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 1px;
  filter: drop-shadow(3px 4px 4px rgb(20, 20, 167)) !important;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.text-warm {
  color: var(--orange);
  filter: drop-shadow(3px 4px 4px rgba(95, 10, 10, 0.25)) !important;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 58%;
  width: 100%;
}

.lower {
  height: 10%;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  border: 2px solid var(--white);
  border-radius: 60px;
  background: transparent;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.button-warm {
  border: 2px solid var(--orange);
  color: var(--orange);
}

.button:hover {
  background: rgba(176, 234, 253, 0.05);
}

.button-warm:hover {
  background: rgba(253, 209, 127, 0.05);
}

.button:active {
  background-color: rgba(176, 234, 253, 0.55);
  box-shadow: none;
  transform: translateY(3px);
}

.button-warm:active {
  background-color: rgba(253, 209, 127, 0.55);
  box-shadow: none;
  transform: translateY(3px);
}

.operand {
  font-size: 32px;
  font-weight: 300;
}