:root {
  --blue: rgb(11, 11, 44);
  --white: rgb(176, 234, 253);
  --shadow: rgba(255, 255, 255, 0.25);
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  background-color: var(--blue);
  background-image: linear-gradient(rgb(10, 10, 95), var(--blue));
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: var(--white);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 10px;
  margin-left: 10px;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.59);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: block;
  height: 600px;
  width: 320px;
  border: 2px solid var(--white);
  border-radius: 25px;
  /* background: transparent; */
  filter: drop-shadow(3px 4px 3px rgba(0, 0, 0, 0.99));
}

.calculator {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
}

.top {
  /* border: 1px solid white; */
  height: 0%;
  width: 100%;
}

.text-box {
  height: 32%;
  max-width: 320px;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
  margin-left: 0px;
  flex-wrap: wrap;
  overflow: hidden;
}

.text {
  margin: 10px 24px 30px 30px;
  padding-top: 10px;
  font-size: 5vw;
  font-weight: 300;
  letter-spacing: 1px;
  filter: drop-shadow(3px 4px 4px rgb(20, 20, 167)) !important;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  height: 58%;
  width: 100%;
}

.lower {
  /* border: 1px solid white; */
  height: 10%;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  border: 2px solid var(--white);
  border-radius: 60px;
  background: transparent;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.button:hover, .zero:hover {
  background: rgba(176, 234, 253, 0.05);
}

.button:active, .zero:active {
  background-color: rgba(176, 234, 253, 0.55);
  box-shadow: none;
  transform: translateY(3px);
}

.zero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 21px;
  height: 55px;
  width: 102px;
  border: 2px solid var(--white);
  border-radius: 60px;
  /* background: transparent; */
  margin: 5px;
  cursor: pointer;
  position: relative;
}